<!-- Start of Header -->
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" ng-click="toggleCollapse()" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img class="navbar-toggle collapsed icon-menu" ng-click="toggleCollapse()"
                 src="img/menu.png" width="75">
            <a class="navbar-brand" ui-sref="site.home">
				SourceMart
            </a>
        </div>


        <div class="navbar-collapse collapse" collapse="navCollapsed">

            <ul class="nav navbar-nav navbar-right">
                <li ng-if="$root.user">
                    <a ui-sref="site.account">
                        {{$root.user.first_name}} {{$root.user.last_name}}
                    </a>
                </li>
                <li ng-if="!$root.user">
                    <a ng-click="signup()">
                        <span class="glyphicon glyphicon-user"></span>
                        Sign Up
                    </a>
                </li>
                <li ng-if="!$root.user">
                    <a ng-click="login()">
                        <span class="glyphicon glyphicon-log-in"></span>
                        Login
                    </a>
                </li>
                <li ng-if="$root.user">
                    <a ui-sref="site.account">
                        <span class="glyphicon glyphicon-user"></span>
                        Profile
                    </a>
                </li>
                <li ng-if="$root.user">
                    <a ng-click="logout()">
                        <span class="glyphicon glyphicon-log-out"></span>
                        Logout
                    </a>
                </li>
            </ul>

        </div>

    </div>
</nav>
<!-- End of Header -->
