<div class="container-fluid sidebar">

	<legend></legend>

	<h4>Navigation</h4>
	<ul class="nav nav-pills nav-stacked">
		<li role="presentation" ui-sref-active="active">
			<a ui-sref="site.home">Home</a>
		</li>
		<li role="presentation" ui-sref-active="active">
			<a ui-sref="site.snippets-index">Snippets</a>
		</li>
		<li role="presentation" ui-sref-active="active"
		ng-if="$root.user">
			<a ui-sref="site.add-snippet">Add New Snippet</a>
		</li>
		<li role="presentation" ui-sref-active="active" class="menu-item-drop-down"
			ng-if="('site.view-snippet' | isState)">
			<a ui-sref="site.view-snippet">View Snippet</a>
		</li>
		<li role="presentation" ui-sref-active="active" class="menu-item-drop-down"
			ng-if="('site.edit-snippet' | isState)">
			<a ui-sref="site.edit-snippet">Edit Snippet</a>
		</li>
		<li role="presentation" ui-sref-active="active" class="menu-item-drop-down"
			ng-if="$root.user">
			<a ui-sref="site.account">Account</a>
		</li>
	</ul>

	<legend></legend>

	<div ng-if="('site.snippets-index' | isState)" class="menu-drop-down">
		<h4>Categories</h3>
		<ul class="nav nav-pills nav-stacked">
			<li role="presentation" ng-class="{ 'active': selectedCategory == 'all'}">
				<a ng-click="goToCategory('all')">All</a>
			</li>
			<li role="presentation" ng-class="{ 'active': selectedCategory == 'html'}">
				<a ng-click="goToCategory('html')">HTML</a>
			</li>
			<li role="presentation" ng-class="{ 'active': selectedCategory == 'css'}">
				<a ng-click="goToCategory('css')">CSS</a>
			</li>
			<li role="presentation" ng-class="{ 'active': selectedCategory == 'javascript'}">
				<a ng-click="goToCategory('javascript')">JavaScript</a>
			</li>
		</ul>

		<legend></legend>

		<h4>Refinements</h4>
		<form>

			<div class="form-group has-feedback has-info">
				<label class="control-label" for="search">Search</label>
				<input type="text" name="search" class="form-control"
				placeholder="Keywords..." ng-model="refine.keywords">
			</div>

			<div class="form-group">
				<label class="control-label" for="order">Order By</label>
				<select ng-model="refine.order" name="order" class="form-control">
					<option ng-value="_id">
						ID
					</option>
					<option ng-value="title" >
						Title
					</option>
					<option ng-value="_author.first_name">
						Author First Name
					</option>
					<option ng-value="_author.last_name">
						Author Last Name
					</option>
				</select>
			</div>

			<div class="form-group">
				<label class="control-label" for="direction">Direction</label>
				<div class="radio">
					<label>
						<input type="radio" name="direction" ng-model="refine.direction" ng-value="false">
						Ascending
					</label>
				</div>

				<div class="radio">
					<label>
						<input type="radio" name="direction" ng-model="refine.direction" ng-value="true">
						Descending
					</label>
				</div>

			</div>
		</form>

		<legend></legend>

	</div>

</div>
