
<!-- This is on every single page -->
<div ng-include="'elements/header.html'" id="header"></div>

<div class="view-container" id="content">

	<!-- This is also on every page -->
	<div ng-include="'elements/sidebar.html'"></div>

	<!-- This is where the partials go -->
    <div class="main-content">
        <ui-view class="view-transition"/>
    </div>

</div>

<alert ng-show="alert.visible == true" type="{{alert.type}}" close="closeAlert()">

    <span ng-if="alert.type == 'danger'">
        <span class="glyphicon glyphicon-remove"></span> ERROR!
    </span>

    <span ng-if="alert.type == 'success'">
        <span class="glyphicon glyphicon-ok"></span> SUCCESS!
    </span>

	<span ng-bind-html="alert.message"></span>

</alert>
