<div class="container-fluid">

    <h2>Add a new snippet</h2>

    <!-- Ace Editor -->
    <ace-editor snippet="snippet" aceLoaded="aceLoaded" aceChanged="aceChanged" save="save"></ace-editor>

    <form class="form-horizontal">

        <div class="form-group">

            <div class="col-xs-12">
                <button type="button" class="btn btn-success" ng-click="save()">
                    <span class="glyphicon glyphicon-ok"></span>
                    Save
                </button>

            </div>

        </div>

    </form>

</div>
