<div class="container-fluid">

    <h2>Edit a Snippet</h2>
    <!-- Ace Editor -->
    <ace-editor snippet="snippet" onAceLoaded="onAceLoaded" onAceChanged="onAceChanged" save="save"></ace-editor>

    <form class="form-horizontal">

        <div class="form-group">

            <div class="col-xs-12">
                <button type="button" class="btn btn-success" ng-click="save()">
                    <span class="glyphicon glyphicon-ok"></span>
                    Save
                </button>

                <button type="button" class="btn btn-danger" ng-click="remove()">
                    <span class="glyphicon glyphicon-remove"></span>
                    Remove
                </button>
            </div>

        </div>

    </form>

</div>
