<div class="container-fluid">

    <button type="button" class="btn btn-primary" ui-sref="site.add-snippet"
        ng-if="$root.user">
        <span class="glyphicon glyphicon-plus"></span>
        Add New Snippet
    </button>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>TItle</th>
                <th>Author</th>
                <th>Editor Theme</th>
                <th>Syntax</th>
                <th>View / Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="snippet in snippets | orderBy: refine.order: refine.direction | filter: refine.keywords">
                <th>{{snippet._id}}</th>
                <th>{{snippet.title}}</th>
                <th>{{snippet._author.first_name}} {{snippet._author.last_name}}</th>
                <th>{{snippet.editor_theme}}</th>
                <th>{{snippet.editor_mode}}</th>
                <th ng-if="snippet._author._id != $root.user._id">
                    <button type="button" class="btn btn-primary"
                        ui-sref="site.view-snippet({ id: snippet._id })">
                        <span class="glyphicon glyphicon-eye-open"></span>
                        View
                    </button>
                </th>
                <th ng-if="snippet._author._id == $root.user._id">
                    <button type="button" class="btn btn-primary"
                        ui-sref="site.edit-snippet({ id: snippet._id })">
                        <span class="glyphicon glyphicon-edit"></span>
                        Edit
                    </button>
                </th>
            </tr>
        </tbody>
    </table>

</div>
