
<script type="text/ng-template" id="shortcuts.html">
    <!-- <p><strong>Save:</strong> ctrl + s</p> -->
    <p><strong>Undo:</strong> ctrl + z</p>
    <p><strong>Redo:</strong> ctrl + y</p>
</script>

<h3>
    <a popover-template="'shortcuts.html'" popover-title="Shortcuts"
        popover-trigger="mouseenter" popover-placement="right" popover-animation="true">
        Shortcuts
        <span class="glyphicon glyphicon-info-sign"></span>
    </a>
</h3>

<!-- Options -->
<form class="form" name="snippetForm" novalidate>

    <div class="row">

        <!-- Snippet Meta Data -->
        <div class="col-xs-4">
            <div class="form-group has-feedback"
                ng-class="{
                    'has-success': snippetForm.snippet_title.$dirty
                        && snippetForm.snippet_title.$valid,
                    'has-error': snippetForm.snippet_title.$dirty
                        && snippetForm.snippet_title.$invalid
                }">
                <label class="control-label" for="snippet_title">Snippet Title</label>
                <input type="text" class="form-control" name="snippet_title"
                ng-model="snippet.title" required>
                <span class="glyphicon glyphicon-ok form-control-feedback"
                    ng-if="snippetForm.snippet_title.$dirty && snippetForm.snippet_title.$valid"></span>
                <span class="glyphicon glyphicon-remove form-control-feedback"
                    ng-if="snippetForm.snippet_title.$dirty && snippetForm.snippet_title.$invalid"></span>
            </div>
        </div>

        <!-- Editor Theme -->
        <div class="form-group col-xs-4"
            ng-class="{
                'has-success': snippetForm.theme_selection.$dirty
                    && snippetForm.theme_selection.$valid,
                'has-error': snippetForm.theme_selection.$dirty
                    && snippetForm.theme_selection.$invalid
            }">
            <label class="control-label" for="theme_selection">Select Theme</label>
                <select class="form-control" name="theme_selection" ng-model="editor_theme"
                ng-options="theme for theme in aceThemes"></select>
        </div>

        <!-- Editor Mode -->
        <div class="form-group col-xs-4"
            ng-class="{
                'has-success': snippetForm.mode_selection.$dirty
                    && snippetForm.mode_selection.$valid,
                'has-error': snippetForm.mode_selection.$dirty
                    && snippetForm.mode_selection.$invalid
            }">
            <label class="control-label" for="mode_selection">Select Mode</label>
                <select class="form-control" name="mode_selection" ng-model="editor_mode"
                ng-options="mode for mode in aceModes"></select>
        </div>

    </div>

</form>

<div class="form">
    <!-- Editor -->
    <div ui-ace="{
        require: ['ace/ext/language_tools'],
        advanced: {
            enableSnippets: true,
            enableBasicAutocompletion: true,
            enableLiveAutocompletion: true
        },
        useWrapMode : true,
        showGutter: true,
        theme: snippet.editor_theme,
        mode: snippet.editor_mode,
        firstLineNumber: 1,
        onLoad: aceLoaded,
        onChange: aceChanged
    }" ng-model="snippet.source"></div>
</div>
