<h1 id="component-development">Component Development</h1>
<h3 id="assignment-1-client-side-spa-proposal">Assignment 1 - Client Side SPA - Proposal</h3>
<h3 id="nathan-mc-grath-20065681">Nathan Mc Grath - 20065681</h3>
<h3 id="applied-computing-games-development-stream">Applied Computing - Games Development Stream</h3>
<h2 id="features-implemented">Features Implemented</h2>
<h3 id="views">Views</h3>
<ul>
<li>Landing Page</li>
<li>Account Page</li>
<li>Snippets<ul>
<li>Add New</li>
<li>Edit Existing</li>
<li>View Snippet</li>
</ul>
</li>
<li>Elements<ul>
<li>Header</li>
<li>Site-Wrapper</li>
</ul>
</li>
<li>Directives<ul>
<li>Ace Editor</li>
</ul>
</li>
</ul>
<h3 id="entities">Entities</h3>
<ul>
<li>User</li>
<li>Snippet</li>
</ul>
<h3 id="services">Services</h3>
<ul>
<li>Firebase Data Service</li>
<li>Auth Service</li>
<li>User Data Service</li>
<li>Snippet Data Service</li>
</ul>
<h3 id="misc-features">Misc. Features</h3>
<ul>
<li>ngAnimate, animate.css &amp; sassy css powered animations</li>
<li>Firebase Integration<ul>
<li>User Registration and authentication</li>
<li>Data persistence</li>
</ul>
</li>
<li>Categorisation of scope data</li>
<li>ngRepeat data filtering and ordering</li>
<li>Ace Editor Integration</li>
<li>Sass Bootstrap Customisation</li>
<li>Live Deployment available at <a href="http://source-mart.eu">http://source-mart.eu</a>, if DNS has not yet propagated then deployment can be found at <a href="http://46.101.4.66:4020">http://46.101.4.66:4020</a></li>
</ul>
<h2 id="proposed-web-application-concept">Proposed Web Application Concept</h2>
<p>The concept that I would like to implement for my first assignment with relation to Component Development is that of an e-commerce site.<br>Products that will be available for purchase from the site will be code snippets uploaded by the sites user&#39;s.<br>Users will be able to both sell &amp; purchase code snippets, projects &amp; templates.</p>
<p>When browsing code snippets, the actual code itself will not be visible, but it’s result will be visible in the browser where possible.<br>Where this is not possible, particularly for server side code, tests may be supplied in order to verify the functionality of the code.<br>Seller profiles that have high ratings will appear before profiles with lower ratings, and likewise for individual code snippets.</p>
<p>Payments will processed by Stripe, whom provide both browser and server side libraries.<br>In order to sell code, users will need to upgrade their account to a seller account which involves creating a Stripe account and giving the site access to their Stripe account.<br>A small checklist will ensure that everything is in order before allowing code snippets to be made public and sellable, this includes:</p>
<ul>
<li>Email Verification through Stripe.</li>
<li>Identity Verification through Stripe.</li>
<li>Having a &quot;Live&quot;, not a &quot;Test&quot; account on Stripe.</li>
</ul>
<h2 id="web-application-features">Web Application Features</h2>
<ul>
<li>User authentication, signup &amp; login</li>
<li>Seller profile &amp; code reviews, ratings &amp; comments</li>
<li>Code categorisation<ul>
<li>HTML</li>
<li>CSS<ul>
<li>General</li>
<li>Library &amp; Framework Specific</li>
<li>Preprocessor (SASS &amp; LESS)</li>
</ul>
</li>
<li>JavaScript<ul>
<li>General</li>
<li>Library &amp; Framework specific</li>
</ul>
</li>
</ul>
</li>
<li>Project bootstrapping using yeoman</li>
<li>Code Mirror Integration</li>
<li>Dynamic iFrame embedding of code written in-browser to be run in-browser</li>
<li>Parse Backend Service</li>
</ul>
<h2 id="data-model">Data Model</h2>
<p><img src="entity_relationship_diagram.jpg" alt="Entity Relationship Diagram" title="Entity Relationship Diagram"></p>
<h2 id="folder-structure">Folder Structure</h2>
<pre><code class="lang-javascript">root/
|--&gt;.git/
|--&gt;bower_components/
|--&gt;builds
|   |--&gt;development/
|   |   |--&gt;public/
|   |   |   |--&gt;fonts/
|   |   |   |--&gt;img/
|   |   |   |--&gt;app.css
|   |   |   |--&gt;app.js
|   |   |   |--&gt;favicon.ico
|   |   |   |--&gt;index.html
|   |   |   |--&gt;lib.js
|   |   |--&gt;index.js
|   |--&gt;production/
|       |--&gt;.git/
|       |--&gt;public/
|       |   |--&gt;fonts/
|       |   |--&gt;img/
|       |   |--&gt;app.css
|       |   |--&gt;app.js
|       |   |--&gt;favicon.ico
|       |   |--&gt;index.html
|       |   |--&gt;lib.js
|       |--&gt;index.js
|--&gt;docs/
|--&gt;node_modules/
|--&gt;src/
|   |--&gt;client/
|   |   |--&gt;css/
|   |   |--&gt;html/
|   |   |   |--&gt;views/
|   |   |   |--&gt;index.html
|   |   |--&gt;js/
|   |   |   |--&gt;modules/
|   |   |   |--&gt;app.js
|   |   |--&gt;sass/
|   |--&gt;server/
|       |--&gt;db/
|       |--&gt;routes/
|       |--&gt;index.js
|--&gt;.htaccess
|--&gt;bower.json
|--&gt;gulpfile.js
|--&gt;package.json
|--&gt;parse-markdown.js
|--&gt;README.html
|--&gt;README.md
</code></pre>
