
<div class="container-fluid">
	<!-- Signup Form -->
	<div class="row">
		<div class="col-xs-12 col-sm-9 col-md-6">
			<form role="form" id="signupForm" name="loginForm" novalidate>

				<!-- First Name Form Group -->
				<div class="form-group">
					<label for="first_name">First Name</label>
					<input type="text" class="form-control" id="first_name" name="first_name" ng-model="user.first_name" placeholder="First Name...">
				</div>

				<!-- Last Name Form Group -->
				<div class="form-group">
					<label for="last_name">Last Name</label>
					<input type="text" class="form-control" id="last_name" name="last_name" ng-model="user.last_name" placeholder="Last Name...">
				</div>

				<!-- Email Form Group -->
				<div class="form-group">
					<label for="email">Email Address</label>
					<input type="email" class="form-control" id="email" name="email" ng-model="user.email" placeholder="Email...">
				</div>

				<div class="form-group">
					<button type="button"class="btn btn-success" ng-click="updateAccount(user)">
						<span class="glyphicon glyphicon-ok"></span>
						Update Account
					</button>
				</div>

			</form>
		</div>
	</div>
    <form>
        <div class="row">
            <div class="col-xs-3">
                <button type="button" class="btn btn-danger" ng-click="deleteAccount()">
                    <span class="glyphicon glyphicon-remove"></span>
                    Delete Account
                </button>
            </div>
        </div>
    </form>
</div>
