<div class="container-fluid">

	<h1 class="page-header">
		Welcome to Source Mart
		<small style="color: white">Your Home for open source code hosting</small>
	</h1>

	<div class="jumbotron" align="center">
		<div class="text-center">

			<p class="lead orange">
				Our hosting solution is completely free and will always be free,<br>
				free to host your own code and free to browse code by other memebers.<br>
			</p>

		</div>

		<div class="row">
			<div class="col-xs-12 col-md-4">

			</div>
			<div class="col-xs-12 col-md-4">
				<div class="text-left">
					<p  class="lead orange">

						Our in browser code editor provides:
						<ul class="lead orange">
							<li>Code Completion</li>
							<li>Linting and Error Messages</li>
							<li>Syntax Highlighting</li>
							<li>Undo and Redo chains</li>
						</ul>

					</p>

					<p class="lead orange">
						We support the following syntaxes:
						<ul class="lead orange">
							<li>HTML</li>
							<li>CSS</li>
							<li>JavaScript</li>
						</ul>
					</p>

					<p class="lead orange">
						Note that this is a college assignment and not intended for production usage.<br>
						Nathan Mc Grath<br>
						20065681<br>
					</p>

				</div>
			</div>
			<div class="col-xs-12 col-md4">

			</div>
		</div>

		<div class="text-center">
			<div class="btn-group btn-group-lg">

				<button type="button" class="btn btn-primary" ui-sref="site.snippets-index">
					View Snippets
				</button>

				<button type="button" class="btn btn-primary" ng-if="!$root.user" ng-click="signup()">
					Sign Up For An Account
				</button>

				<button type="button" class="btn btn-primary" ng-if="!$root.user" ng-click="login()">
					Login To Your Account
				</button>

				<button type="button" class="btn btn-primary" class="btn btn-primary" ng-if="$root.user" ui-sref="site.account">
					View Your Account
				</button>

				<button type="button" class="btn btn-primary" class="btn btn-primary" ng-if="$root.user" ui-sref="site.add-snippet">
					Add New Snippet
				</button>

			</div>
		</div>

	</div>

</div>
