
// flash alerts

.alert.ng-hide-add {
    @include animation(bounceOutRight 1s);
}

.alert.ng-hide-remove {
    @include animation(bounceInRight 1s);
}

// menu item drop down

.menu-item-drop-down.ng-enter,
.menu-item-drop-down.ng-leave {
    @include transition(all 1s linear);
    overflow: hidden;
}

.menu-item-drop-down.ng-enter,
.menu-item-drop-down.ng-leave.ng-leave-active {
    max-height: 0px;
    opacity: 0;
}

.menu-item-drop-down.ng-leave,
.menu-item-drop-down.ng-enter.ng-enter-active {
    max-height: 100px;
    opacity: 1;
}

// menu item drop down

.menu-drop-down.ng-enter,
.menu-drop-down.ng-leave {
    @include transition(all 1s linear);
    overflow: hidden;
}

.menu-drop-down.ng-enter,
.menu-drop-down.ng-leave.ng-leave-active {
    max-height: 0px;
    opacity: 0;
}

.menu-drop-down.ng-leave,
.menu-drop-down.ng-enter.ng-enter-active {
    max-height: 550px;
    opacity: 1;
}

// animations for state transitions

.view-container {
    min-height: 100%;
    height: 100%;
    width: 100%;
    min-width: 100%;
}

.view-transition.ng-enter,
.view-transition.ng-leave {
    overflow: hidden !important;
    @include transition(all .4s ease-in-out);
}

.view-transition.ng-enter,
.view-transition.ng-leave.ng-leave-active {
    opacity: 0;
}

.view-transition.ng-leave,
.view-transition.ng-enter.ng-enter-active {
    opacity: 1;
}
