/*
 *  Color design robbed from Ubuntu, http://design.ubuntu.com/brand/colour-palette
 */

// primary colors
$ubuntu-orange: #DD4814;
$ubuntu-orange-hightlight: #E26F44;
$white: #FFFFFF;
$black: #000000;

// supporting colors
$dark-aubergine: #2C001E;
$medium-aubergine: #5E2750;
$light-aubergine: #77216F;

// gradients
$ubuntu-gradient: (-90deg, rgba(38,14, 30, 0.75) 0%, rgba(245,116, 83, 0.75) 90%);

// other colors
$success: #507737;
$success-hightlight: #6E8951;
$danger: #C12F26;
$danger-hightlight: #BC563E;

.orange {
	color: $ubuntu-orange;
}

.form-group {
}

// .navbar-default {
// 	background-color: $ubuntu-orange;
//
// 	.nav > li > a,
// 	.nav > li > a:visited,
// 	.navbar-brand,
// 	.navbar-brand:visited {
// 		color: $white;
// 	}
//
// 	.nav > li > a:hover,
// 	.nav > li > a:active,
// 	.navbar-brand:hover,
// 	.navbar-brand:active {
// 		color: $dark-aubergine;
// 	}
//
// }

// .btn-success,
// .alert-success {
//     background-color: $success !important;
//     border-color: $success !important;
// }
//
// .btn-success:hover,
// .btn-success:active,
// .btn-success:focus {
// 	background-color: $success-hightlight !important;
// 	border-color: $success-hightlight !important;
// }
//
// .btn-danger,
// .alert-danger {
//     background-color: $danger;
//     border-color: $danger;
// }
//
// .btn-danger:hover,
// .btn-danger:active,
// .btn-danger:focus {
// 	background-color: $danger-hightlight !important;
// 	border-color: $danger-hightlight !important;
// }
//
// .btn-primary {
// 	background-color: $ubuntu-orange;
// 	border-color:  $ubuntu-orange;
// 	@include transition(all .4s ease-in);
// }
//
// .btn-primary:hover,
// .btn-primary:active,
// .btn-primary:focus {
// 	background-color: $ubuntu-orange-hightlight !important;
// 	border-color: $ubuntu-orange-hightlight !important;
// }
//
// select {
//
// 	background-color: $ubuntu-orange;
// 	color: $black;
//
// }
