
@mixin prefix($fx, $str) {
	-webkit-#{$fx}: #{$str};
	-moz-#{$fx}: #{$str};
	-ms-#{$fx}: #{$str};
	-o-#{$fx}: #{$str};
	#{$fx}: #{$str};
}

@mixin border-radius($radius) {
	@include prefix(border-radius, $radius);
}

@mixin box-shadow($str) {
	@include prefix(box-shadow, $str);
}

@mixin transition ($str) {
	@include prefix(transition, $str);
}

@mixin animation($str) {
	@include prefix(animation, $str);
}

@mixin background-gradient($gradient) {
	background: -webkit-linear-gradient($gradient);
	background: -moz-linear-gradient($gradient);
	background: -o-linear-gradient($gradient);
}

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}
