/***** RESETS & FIXES *****/

a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none !important;
	border: 0px none white !important;
	outline: none !important;
}
[ng-click],
[ui-sref],
a {
	cursor: pointer;
}

// ***** PRIMARY COLOR SCHEME ******
@import 'color-scheme';
$brand-primary: #DD4814;
$brand-success: #507737;
$brand-danger: #C12F26;
$default-font-color: white;

// ***** FORMS *****
$input-color: black;
$input-border-focus: $brand-primary;
$state-success-bg: $brand-success;
$state-danger-bg: $brand-danger;

// ***** NAVS ******
$nav-link-hover-bg: $brand-primary;
$nav-tabs-border-color: $brand-primary;

// ***** NAVBAR *****
$navbar-height: 75px;
$navbar-default-bg: $brand-primary;
$navbar-default-color: $default-font-color;
$navbar-default-link-color: $default-font-color;

// Popovers, Modals, Wells
$popover-title-bg: $brand-primary;
$popover-border-color: black;
.modal {
	.modal-header,
	.modal-footer,
	.modal-body {
		background-color: $medium-aubergine;
	}
}

// ***** FONTS ******
$text-color: $default-font-color;
$link-color: $default-font-color;
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono|Ubuntu:400,500,700,300,400italic);
$font-family-base: 'Ubuntu', sans-serif;
$icon-font-path: "fonts/";

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import 'fx';
@import 'animations';

$sidebar-width: 200px;

.sidebar {
    margin-left: 7px;
    position: fixed;
    width: $sidebar-width;
    @include border-radius(10px);
	@include box-shadow(5px 5px 15px 0px rgba(0,0,0,0.5));
    background-color: $medium-aubergine;
	> legend:first-child {
		margin-top: 20px;
	}
}

.main-content {
    margin-left: $sidebar-width;
}

.ace_editor {
    margin-bottom: 15px;
    height: 400px;
}

button {
    @include transition(all .3s linear);
}

.alert {

    color: white;

    @include box-shadow(5px 5px 15px 0px rgba(0,0,0,0.5));
    @include border-radius(20px);

    position: fixed;
    right: 20px;
    top: 90px;
    z-index: 9999;

    min-width: 160px;
    width: 25%;

}

.popover-content {
	color: black;
}

/***** SITE WRAPPER *****/

html {
	// height: 100%;
    min-height: 100%;
	// margin: 0;
	// padding: 0;
}

body {
	@include background-gradient($ubuntu-gradient);
	color: $white;
}

#site-wrapper {
	// min-height: 100%;
	// position: relative;
}

/***** HEADER *****/

#header {

}

// .navbar {
// 	border: none 0px;
// }
//
// .navbar .nav > li > a {
// 	font-size: 13pt;
// 	padding: 25px 15px;
// 	margin: 0 !important;
// }
//
// .navbar-default {
// 	margin: 0 !important;
// 	z-index: 1000;
// }

/***** CONTENT *****/

#content {
    // padding: 10px 0px;
}

/***** FOOTER *****/

#footer {
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 0;
	left: 0;
}
