<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="App" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="App" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="App" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="App">
    <!--<![endif]-->

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <base href="/public">

        <!-- FAVICON -->
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">

        <!-- Meta Data -->
        <meta name="fragment" content="!" />
        <title ng-bind="meta.title">Sourec Mart</title>
        <meta name="description" content="{{meta.description}}">
        <meta name="keywords" content="{{meta.keywords}}">

        <!-- Ace Code Editor -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/ace.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/ext-language_tools.js"></script>

        <!-- Application Specific CSS -->
        <link rel="stylesheet" href="app.css">

    </head>

    <body ng-controller="AppCtrl as AppCtrl">

        <!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser.
Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

        <!-- Start of page -->
        <ui-view></ui-view>
        <!-- End of Page -->

        <!-- JS Libraries -->
        <script src="lib.js"></script>

        <!-- Main Application Module -->
        <script src="app.js"></script>

    </body>

</html>
