<div class="modal-container">
    <div class="modal-header">
        <h1>Login</h1>
    </div>

    <div class="modal-body">

        <!-- Flash -->
        <div id="login-flash" flash-alert active-class="in alert" class="fade">
            <strong class="alert-heading">ERROR!</strong>
            <span class="alert-message">{{flash.message}}</span>
        </div>

        <!-- Login Form -->
        <form role="form" id="loginForm" name="loginForm" novalidate>

            <!-- Email Form Group -->
            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" class="form-control" id="email" name="email"
                       ng-model="credentials.email" placeholder="Email...">
            </div>

            <!-- Password Form Group -->
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password"
                       ng-model="credentials.password" placeholder="Password...">
            </div>

        </form>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-modal" ng-click="login(credentials)">Login</button>
        <button type="button" class="btn btn-primary btn-modal" ng-click="$dismiss()">Cancel</button>
    </div>
</div>
