<div class="modal-container">
    <div class="modal-header">
        <h1>Sign Up</h1>
    </div>

    <div class="modal-body">

        <!-- Signup Form -->
        <form role="form" id="signupForm" name="loginForm" novalidate>

            <!-- First Name Form Group -->
            <div class="form-group">
                <label for="first_name">First Name</label>
                <input type="text" class="form-control" id="first_name" name="first_name" ng-model="user.first_name" placeholder="First Name...">
            </div>

            <!-- Last Name Form Group -->
            <div class="form-group">
                <label for="last_name">Last Name</label>
                <input type="text" class="form-control" id="last_name" name="last_name" ng-model="user.last_name" placeholder="Last Name...">
            </div>

            <!-- Email Form Group -->
            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" class="form-control" id="email" name="email" ng-model="user.email" placeholder="Email...">
            </div>

            <!-- Password Form Group -->
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" ng-model="user.password" placeholder="Password">
            </div>

        </form>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-click="signup(user)">Sign Up</button>
        <button type="button" class="btn btn-primary" ng-click="$dismiss()">Cancel</button>
    </div>
</div>
